<%-include (`./header`, {title: `KÅsu Home`})%>
    <h1> Welcome to KOSU </h1>
    <h3> FREE Japanese Online Learning Module </h3>
    <a href="/registerStudent" class="btn btn-primary my-2 my-sm-0" role="button">Register as Student</a>
    <a href="/registerInstructor" class="btn btn-primary my-2 my-sm-0" role="button">Register as Instructor</a>
<%-include (`./script`)%>
<%-include (`./footer`)%>