<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login to your Account</h1>
    <%if (error) {%>
        <div>
        <%=error%>
        </div>
    <%}%>
    <form action="/login" method="POST">
        <label for="email">Email</label><br>
        <input type="text" name="email" id="email" placeholder="yourname@example.com"><br>
        <label for="myinput">Password</label><br>
        <input type="password" name="password" id="myinput" placeholder="*****">
        <br><br>
        <button type="submit">Login</button>
    </form>
    <br>
    Don't have account? 
    <a href="/registerStudent">Register Student</a> <br>
    <a href="/registerInstructor">Register Instructor</a>
</body>
</html>