<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Course</title>
    <h3> Add Course Form </h3>
    <%if (error) {%>
        <div>
        <%=error%>
        </div>
    <%}%>
    <a href="/courses"> < Courses List </a> <br> <br>
    <form action="/courses/addCourse" method="POST">
        Course name : <br> 
        <input name="name"> <br><br> 
        Description : <br> 
        <input name="description"> <br><br> 
        Instructor: <br> 
        <select name="instructor">
            <option selected disabled> -- select instructor -- </option>
            <% instructor.forEach(item => { %>
            <option value="<%= item.dataValues.id %>"> <%= item.dataValues.full_name %>  </option>
            <% }) %>

        </select> <br><br>
        <input type="submit">
    </form>
</head>
<body>
    
</body>
</html>