<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <form action="/logout" method="POST">
        <button type="submit">Logout</button>
    </form><br>
    <h3> Course Dashboard </h3>
    <a href="/courses"> Manage Course </a> <br> <br>
    <a href="/courses/chatRoom/<%=data.id%>"> Chat Room </a> <br> <br>
    
</body>
</html>