<%-include (`../headerLogin`, {title: `Instructor's Home`, linkCourse: `/courses`, linkHome: `/courses/dashboard`, statusHome: `active`, statusCourse: ``})%>
    <h1> Welcome, Instructors!</h1><br>
    Courses Dashboard: &nbsp<a href="/courses" class="btn btn-primary my-2 my-sm-0" role="button"> Manage Course </a> <br> <br>
    Go help your students here&nbsp<a href="/courses/chatRoom" class="btn btn-secondary my-2 my-sm-0" role="button"> Chat Room </a> <br> <br>
    <%-include (`../script`)%>
    <%-include (`../footer`)%>